@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
.font-mont { font-family: 'Montserrat', sans-serif; }
body{
    background-color: #D3D5D9;
}
